body {
    margin-left: 15px;
    margin-top: 25px;
    background: #d8ffa3;
    font-size: 30px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("book.jpg");
}